<!DOCTYPE html>
<meta charset="utf-8">

<!-- Load d3.js -->
<script src="https://d3js.org/d3.v4.js"></script>

<!-- Create a div where the graph will take place -->
<div id="my_dataviz">
    <h1 style="font-size:20px;" style="text-align:center;">Linux Repository Commits this Year</h1>
    <p  id = 'green'style="font-size:20px;"> All Commits<img src="/assets/green.jpg"> </p>
    <p id = 'peach'style="font-size:20px;"> Linux Torvald's Commits<img src="/assets/peach.jpg"> </p>
    
    
       
   
    
        
  
</div>


